.container {
  padding: 5rem 7rem;
  background-color: #f8f9fa;
}

.container h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3.2rem;
  font-weight: 250;
}

.p_c {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3rem;
  column-gap: 2rem;
  align-items: start;
}

@media (max-width: 426px) {
  .p_c {
    display: flex;
    flex-direction: column;
  }

  .container h2 {
    font-size: 3rem;
  }

  .container {
    padding: 2rem 1rem;
  }
}
